{% extends 'base/base.html' %}

{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div class="col-md-4 container bg-white">
    <h3 class="text-center">Formulario de Criterio de Selección</h3>
    <p class="fs-5 text-center px-5">Por favor seleccione el Criterio de Clasificación de las(os) Candidatas(os)</p>
    <div class="col">
        <div class="col-md-8">
            <form action="" method="POST">
                {% csrf_token %}

                {{ form | crispy }}

                <input class="btn btn-primary" type="submit" value="Enviar Mensaje" {% if 'ok' in request.GET %}disabled{% endif %}{% if 'error' in request.GET %}disabled{% endif %}>
            </form>

            {% if 'ok' in request.GET %}
                <div class="alert alert-success mt-5" role="alert">
                    <strong>El mensaje se ha enviado correctamente</strong>
                </div>
            {% endif %}

            {% if 'error' in request.GET %}
                <div class="alert alert-danger mt-5" role="alert">
                    <strong>El mensaje no ha podido ser enviado. Por favor, intente más tarde</strong>
                </div>
            {% endif %}
        </div>
        
        <div class="col-md-4 mb-4">
            <img class="float-start img-fluid" src={% static 'register/img/logoMatch.jpg' %} alt="">
        </div>
    </div>

    <hr>

    <div class="d-grid gap-2 col-6 mx-auto mb-5">
        <a class="btn btn-info btn-lg" href={% url 'home' %}>Volver al Inicio</a>
    </div> 
</div> 
{% endblock %}
